# Visual Studio / WPF
.vs/
[Bb]in/
[Oo]bj/

# Build outputs
*.user
*.suo
*.cache
*.log
*.pdb
*.mdb
*.svclog
*.aps
*.opendb
*.VC.db
*.VC.VC.opendb

# NuGet
packages/
*.nupkg
*.snupkg

# Rider / VS Code
.idea/
.vscode/

# OS files
Thumbs.db
Desktop.ini

# Optional publish artifacts
publish/
